<!-- <mat-toolbar class="mat-elevation-z6" color="primary" >
 Dashboard 
 <div style="position:absolute; right:10px;">
    <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Profile Actions">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()" style="outline: none;">
          <span>Sign Out</span>
          <mat-icon style="padding-left: 5px;">exit_to_app</mat-icon>
        </button>
    </mat-menu>
</div>
  </mat-toolbar> -->

<div class="row">

    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 fixed-top shadow">

        <div class="col-sm-10">
            <a class="navbar-brand">
                <img src="./assets/img/logoos.png" alt="" style="width: 61px;" routerLink="/admin">
                <h6 style="    padding-left: 6px;
                float: right;
                margin-top: 23px;
                color: #ffcb67;
                font-weight: bold;
            ">CMGAADI</h6>
            </a>
        </div>
        <div class="col-sm-2">
            <a (click)="logout()" style="    float: right;
            color: black;cursor: pointer;
            font-weight: 500;">
                <i class="fa fa-power-off"></i> Logout
            </a>

        </div>

    </nav>


</div>