<!-- <mat-toolbar class="mat-elevation-z6" color="primary" >
 Dashboard 
 <div style="position:absolute; right:10px;">
    <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Profile Actions">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()" style="outline: none;">
          <span>Sign Out</span>
          <mat-icon style="padding-left: 5px;">exit_to_app</mat-icon>
        </button>
    </mat-menu>
</div>
  </mat-toolbar> -->


<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 fixed-top shadow">

    <a class="navbar-brand" href="#">
        <img src="./assets/img/logonew.png" alt="" style="width: 101px;">
        <!-- <h6>CMGAADI</h6> -->
    </a>

</nav>