
<section id="footer-area">
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>About Us</h2>
                        <div class="widget-body">
                            <img src="assets/img/logoos.png" alt="JSOFT" style="    height: 106px;
                            width: 107px;">

                           

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>Subscribe for Newsletter </h2>
                        <div class="newsletter-area">
                            <form action="index.html">
                                <input type="email" placeholder="Subscribe Our Newsletter">
                                <button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>get touch</h2>
                        <div class="widget-body">
                            <p>ea, scelerisque sed</p>

                            <ul class="get-touch">
                                <li><i class="fa fa-map-marker"></i> location address</li>
                                <li><i class="fa fa-mobile"></i> +9878786672</li>
                                <li><i class="fa fa-envelope"></i> cmgadi@gmail.com</li>
                            </ul>
                            <a href="https://goo.gl/maps/b5mt45MCaPB2" class="map-show" target="_blank">Show Location</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </p>

                </div>
            </div>
        </div>
    </div>
</section>