<app-navigation></app-navigation>

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Features
                </h1>
                <!-- <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="about.html"> About Us</a></p> -->
            </div>
        </div>
    </div>
</section>

<section class="reviews-area section-gap " id="review ">
    <div class="container ">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-8 pb-40 header-text text-center ">
                <h1>Some Features that Made us Unique</h1>
                <p class="mb-10 text-center ">
                    Who are in extremely love with eco friendly system.
                </p>
                <hr style="    background: yellow;
                width: 50%;
                margin: 14px auto;">
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature ">
                    <h4>Regular Rides</h4>
                    <p>
                        You can use our CM Gaadi vehicles for regular rides. We provides some offers for our regular customers
                    </p>
                    <!-- <div class="star ">
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature ">
                    <h4>Prebook Your Rides</h4>
                    <p>
                        You can prebook your rides before ready to take our services. Free cancellation before the rides begins
                    </p>
                    <!-- <div class="star ">
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature ">
                    <h4>Vehicle Pickup Using Map Locations</h4>
                    <p>
                        You can choose the location for the car to pick up. Also you can search the cars to available in the nearest locations
                    </p>

                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature ">
                    <h4>24/7 Customer support</h4>
                    <p>
                        For support and other queries 24/7 customer support is provided.For any kind of issues while the ride, we will help you resolve it.

                    </p>
                    <!-- <div class="star ">
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature " style="    height: 208px;">
                    <h4>Push Notifications</h4>
                    <p>
                        You will get timely notifications on your rides. All your data are safe with us.
                    </p>

                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</section>


<section class="reviews-area  " id="review ">
    <div class="container ">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-8 pb-40 header-text text-center ">
                <h1>How it Works?</h1>
                <hr style="    background: yellow;
                width: 50%;
                margin: 14px auto;">
            </div>
        </div>

        <h3>For Owners</h3>
        <hr style="    background: yellow;
        width: 20%;
        ">
        <h5>• Register your cab/auto with CM Gaadi</h5>
        <p style="margin-top: 20px;">Cab/Auto owner needs to register your details and complete verification. Verification will takes 5-7 days. After the verification process your car will be active on CM Gaadi and live to the customer who needs car/auto rental.</p>

        <h5>• Manage your rental service from phone</h5>
        <p style="margin-top: 20px;">You will get an id and password for your car rental. You can register n number of cars. Owner can register their drivers also in CM Gaadi.</p>


        <h3>For Customer/Members</h3>

        <hr style="background: yellow;
        width: 20%; ">
        <h5>• Search for a taxi book a taxi from our site</h5>
        <p style="margin-top: 20px;">We provide car/auto taxi services.</p>
        <h5>• Search for a car and book a cab from our site</h5>
        <p style="margin-top: 20px;">If you need a driver for that trip, you will be directed to drivers list, and you can select your driver. Otherwise you prefer self-drive, upload you driver’s license, Aadhar number and address details. We SMS your car details 20 minutes before
            pickup. Unlock it via the CM Gaadi app.</p>
        <h5>• Fill the start checklist & end checklist in the CM Gaadi app</h5>
        <p style="margin-top: 20px;">Grab the keys from our office and drive. Return the car to the same location and fill the end checklist to end your trip.</p>
    </div>
</section>

<app-footer></app-footer>