<div class="page-wrapper">


    <section id="service-area" class="section-padding" style="    margin-top: 74px;">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->

                <!-- Section Title End -->
            </div>


            <!-- Service Content Start -->
            <div class="row">
                <!-- Single Service Start -->
                <div class="col-lg-4 text-center" routerLink="/vehicles">
                    <div class="service-item">
                        <!-- <i class="fa fa-taxi" style="color: rebeccapurple;"></i> -->
                        <img src="./assets/img/car.png" />
                        <h3>Vehicles</h3>
                    </div>
                </div>

                <!-- Single Service End -->

                <!-- Single Service Start -->
                <div class="col-lg-4 text-center" routerLink="/vehicletracking">
                    <div class="service-item">
                        <!-- <i class="fa fa-map-marker" style="    color: red"></i> -->
                        <img src="./assets/img/order-shipped.png" />
                        <h3>Vehicle Tracking</h3>
                    </div>
                </div>

                <div class="col-lg-4 text-center" routerLink="/drivers">
                    <div class="service-item">
                        <!-- <i class="fa fa-user" style="    color: green"></i> -->
                        <img src="./assets/img/taxi-driver.png" />
                        <h3>Drivers</h3>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="service-item">
                        <!-- <i class="fa fa-history" ></i> -->
                        <img src="./assets/img/mobile-payment--v3.png" />

                        <h3>Payment Reports</h3>
                    </div>
                </div>
                <div class="col-lg-4 text-center" routerLink="/request">
                    <div class="service-item">
                        <img src="./assets/img/request-service.png" />

                        <h3>Request</h3>
                    </div>
                </div>
                <div class="col-lg-4 text-center" routerLink="/handovervehicles">
                    <div class="service-item">
                        <img src="./assets/img/icons8-valet-parking-100.png" />


                        <h3>Handover Vehicles </h3>
                    </div>
                </div>
                <div class="col-lg-4 text-center" routerLink="/bankdetails">
                    <div class="service-item">
                        <img src="./assets/img/bank-building.png" />
                        <h3>Bank Manage</h3>
                    </div>
                </div>
                <div class="col-lg-4 text-center" routerLink="/admin-resetpassword">
                    <div class="service-item">
                        <img src="./assets/img/icons8-password-book-100.png" alt="">
                        <h3>Reset password</h3>
                    </div>
                </div>
                <!-- <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-user" style="    color: blue"></i>
                    <h3>Profile</h3>
                </div>
            </div>
           -->
                <!-- Single Service End -->
            </div>
            <!-- Service Content End -->
        </div>
    </section>
</div>