<!-- <app-navigation></app-navigation>
<div class="row" style="margin-bottom: 27px;
margin-top: 100px;  ">
 
    <div class="col-sm-4">
        <button routerLink="/admin" class=" btn btn-dark" style="float: Left;"><i class="fa fa-arrow-left"></i> Back</button>

    </div>
    <div class="col-sm-4">
        <h4 style="text-align: center;" >Driver <em style="font-style: normal;
            color: #ffb100;">Management</em> </h4>
    </div>
    <div class="col-sm-4">
        <button routerLink="/add-drivers" class=" btn btn-success" style="float: right;"> <i class="fa fa-plus"></i> Add Drivers</button>
        
    </div>
</div>
<div class="row">
    
</div>
<div class="row">
<div class="container">

    <div class="col-sm-12">
      
    
                    <mat-table #table [dataSource]="dataSource">

                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef>Driver Name </mat-header-cell>
                            <mat-cell *matCellDef="let element "> {{element.name}}</mat-cell>
                        </ng-container>
                      
                        <ng-container matColumnDef="phonenumber">
                            <mat-header-cell *matHeaderCellDef> Contact Number</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.number}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="pan">
                            <mat-header-cell *matHeaderCellDef>Pancard Number</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.panCardNO}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="licensefrnt">
                            <mat-header-cell *matHeaderCellDef>License Front</mat-header-cell>
                            <mat-cell *matCellDef="let element"><Button (click)="getlicsence(element.id)" style="    border: none;
                                background: none;" matTooltip="License Front "> <i class="fa fa-eye"></i> View</Button> </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="licenseback">
                            <mat-header-cell *matHeaderCellDef>License Back</mat-header-cell>
                            <mat-cell *matCellDef="let element"> <Button (click)="getlicsenceback(element.id)"  style="    border: none;
                                background: none;" matTooltip="License Back">
                                 <i class="fa fa-eye"></i> View</Button></mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="edit">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let element"><i  matTooltip="Edit Profile" (click)="edit(element)" class="fa fa-edit"></i> </mat-cell>

                        </ng-container>



                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>


                    <mat-paginator #paginator [length]="totalLength" [pageSize]="limit" (page)="changePage($event)">
                    </mat-paginator>


                </div>

          

    </div>
</div> -->


<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-header></app-header>
            <!-- End of Topbar -->
            <!-- <app-adminhome></app-adminhome> -->
            <!-- Begin Page Content -->
            <div class="container-fluid" style="margin-left: 223px;
            margin-top: 99px;
            padding-right: 240px;  ">
                <!-- Page Heading -->
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-sm-6">
                        <h1 class="h3 mb-2 text-gray-800">Driver Management</h1>

                    </div>
                    <div class="col-sm-6">
                        <button routerLink="/add-drivers" style="float: right;    background: #3158c8;" class=" btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Add New
                            Drivers</button>
                    </div>
                </div>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="dataTable" width="100%" cellspacing="0">
                                <thead style=" color: #fff; background: #3158c8; ">
                                    <tr>
                                        <!-- <th>Driver Image</th> -->
                                        <th>Driver Name</th>
                                        <th>Phone Number</th>
                                        <th>Pan Card</th>
                                        <!-- <th>License Front</th>
                                        <th>License Back</th> -->
                                        <th>Edit</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let driverslist of driverslist">
                                        <td>
                                            <img src="https://cmgaadi.com/server/driver/getProfilePic/{{driverslist.id}}" alt="" style="height: 40px;
                                                border-radius: 100%;    margin-right: 9px;
                                                width: 40px;" /> {{driverslist.name}}
                                        </td>
                                        <td>{{driverslist.number}}</td>
                                        <td>{{driverslist.panCardNO}}</td>
                                        <!-- <td>
                                            <Button (click)="getlicsence(driverslist.id)" style="    border: none;
                                            background: none;" matTooltip="License Front "> <i class="fa fa-eye"></i> View</Button>
                                        </td>
                                        <td>
                                            <Button (click)="getlicsenceback(driverslist.id)" style="    border: none;
                                            background: none;" matTooltip="License Back">
                                             <i class="fa fa-eye"></i> View</Button>
                                        </td> -->
                                        <td> <button class="btn btn-dark" (click)="edit(driverslist)"><i matTooltip="Edit Profile" class="fa fa-edit"></i> Edit</button>&nbsp;
                                            <button class="btn btn-warning" (click)="delete(driverslist)"><i matTooltip="Edit Profile"  class="fa fa-trash"></i> Delete</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <!-- <button (click)="loadMore()" style="    width: 100%;
                            border: none;
                            margin-bottom: 19px;
                            padding: 10px;
                            border-radius: 8px;
                            color: #686363;" *ngIf="driverslist.length != 0">Load More</button> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>