.row {
    margin-left: 0px;
    margin-right: 0px;
}

.table-responsive {
    margin-left: 195px;
    margin-top: 16px;
}

.d-block {
    border-radius: 19px;
    width: 50%;
    height: 270px;
    margin: 0 auto;
}

@media only screen and (max-width: 991px) {
    .container-fluid {
        margin-left: 93px !important;
        margin-top: 99px !important;
        padding-right: 9px !important;
    }
    #wrapper #content-wrapper {
        background-color: #f8f9fc;
        overflow-x: unset;
    }
    .d-block {
        border-radius: 19px;
        width: 102%;
        height: 161px;
    }
}

.border-left-info {
    border-left: 0.25rem solid #ff920a !important;
}