<app-navigation></app-navigation>

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Pricing
                </h1>
                <!-- <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="about.html"> About Us</a></p> -->
            </div>
        </div>
    </div>
</section>

<section class="reviews-area" id="review ">
    <div class="container ">
        <!-- <div class="row d-flex justify-content-center ">
            <div class="col-md-8 pb-40 header-text text-center ">
                <h1>Pricing</h1>
                <p class="mb-10 text-center ">
                    Our Pricing Structure.
                </p>
                <hr>
            </div>
        </div> -->

        <div class="row" style="margin-top: 15px;">
            <div class="col-lg-6 col-md-6 ">
                <div class="single-feature ">
                    <h4><span class="lnr lnr-user "></span>Pricing For CAB Services</h4>
                    <!-- <p>
                        We provides taxi services in locations like (write Locations). You can book your taxi from our CM Gaadi site or app. After the ride ends you can pay by cash or cards or UPI
                    </p> -->
                    <p>Minumum Kilometer - 5</p>
                    <p>Minumum Charge - 150</p>
                    <p>Waiting Charge - Per hour basis</p>

                    <p>Note : Beyond 5km per hour or per km charges whichever comes big will be included with RS 150/-</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 ">
                <div class="single-feature ">
                    <h4><span class="lnr lnr-user "></span>Pricing For AUTO Services</h4>
                    <p>Minumum Kilometer - 1.5</p>
                    <p>Minumum Charge - 25</p>
                    <p>Waiting Charge - Per Half hour basis</p>

                    <p>Note : Beyond 1.5km per hour or per km charges whichever comes big will be included with RS 25/-</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>