<app-navigation></app-navigation>

<div class="page-wrapper">
    <p style="padding-left: 29px; margin-top: 68px;font-size: 19px;"> <a routerLink="/drivers"><i
        style="color: black;">Drivers</i></a> &nbsp; <i class="fa fa-angle-double-right"></i> &nbsp; <i style="color:#1492E6;">Add Drivers</i> </p>
    <div class="container" style="    box-shadow: 0px 3px 6px #00000029;
padding: 20px;
background-color: #F8FAFB;
margin-top: 25px;
margin-left: 31px;">
        <div class="row">
            <div class="col-md-4">
                <h3>Add Driver licence Image Front</h3>
            </div>
        </div>
        <div class="row" style="     padding: 34px;   background-color: WHITE;">
            <div class="col-lg-12">
                <form [formGroup]="driverForm">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label> License Front <span class="text-danger">*</span></label>
                                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.liscencefrnt.errors }" #file type="file" (change)="addliscensefrnt($event)" formControlName="liscencefrnt">
                                <div *ngIf="submitted && f.liscencefrnt.errors" class="invalid-feedback">
                                    <div *ngIf="f.liscencefrnt.errors.required">Driver liscence front pic is required</div>
                                </div>

                            </div>
                        </div>
                    </div>

                </form>
                <div class="col-sm-12">
                    <button style="width: 20%; margin-left: auto;margin-right: auto;display: block;" (click)="submit()" class="btn btn-warning">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>