<app-navigation></app-navigation>
<!-- <div class="page-wrapper" style="margin-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
            </div>
            <div class="col-sm-5">
               
            </div>
        </div>
    </div>
</div> -->


<section class="banner-area relative">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center" style=" height: 667px;">
            <div class="banner-content col-lg-7 col-md-6 ">
                <h6 class="text-white ">the Royal Essence of Journey</h6>
                <h1 class="text-white text-uppercase">
                    Bringing the future of rides
                </h1>
                <p class="pt-20 pb-20 text-white">
                    Offers vehicles for hire such as self-drive car rental or Auto rental services.

                </p>
            </div>
            <div class="col-lg-5  col-md-6">
                <form>
                    <div class="card">
                        <div class="card-title">
                            <h4>Reset Password</h4>
                            <p>Please enter your Email Id for reset your password.</p>
                            <div class="form-group">
                                <label for="email">Email Id</label>
                                <input type="text" id="email" class="form-control" [(ngModel)]="email"  [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row" style="    margin: 0px;">
                            <button class="loginbtn" (click)="reset()">Reset Password</button> &nbsp; &nbsp;
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>