<app-navigation></app-navigation>
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Services
                </h1>
                <!-- <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="about.html"> About Us</a></p> -->
            </div>
        </div>
    </div>
</section>
<section class="feature-area section-gap ">
    <div class="container ">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-8 pb-40 header-text ">
                <h1>What Services we offer to our clients</h1>
                <p>
                    Who are in extremely love with eco friendly system.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature ">
                    <h4><span class="lnr lnr-user "></span>Taxi Services</h4>
                    <p>
                        We provides taxi services in locations like (write Locations). You can book your taxi from our CM Gaadi site or app. After the ride ends you can pay by cash or cards or UPI
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature ">
                    <h4><span class="lnr lnr-car "></span>Rent a Car</h4>
                    <p>
                        Rent a car for ride with or without driver. You can use our app to select the car. No hidden or extra charges applicable. You can choose the locations and car type before submitting your confirmation

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature ">
                    <h4><span class="lnr lnr-car "></span>Rent Your Car</h4>
                    <p>
                        You can rent your cars by registering, you will get a user id and account details after the verification. You can register n number of cars you owned.
                    </p>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 ">
                <div class="single-feature ">
                    <h4><span class="lnr lnr-rocket "></span>Technical Skills</h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature ">
                    <h4><span class="lnr lnr-diamond "></span>Highly Recomended</h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature ">
                    <h4><span class="lnr lnr-bubble "></span>Positive Reviews</h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div> -->
        </div>
    </div>
</section>