<app-navigation></app-navigation>

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Privacy & Policy
                </h1>
                <!-- <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="about.html"> About Us</a></p> -->
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container" style="margin-top: 20px;">

        <h6> 1. Introduction </h6>
        <hr>
        <p>

            In this policy, we, us, our and Cmgaadi refer to Cmgaadi. For more information about us and how to contact us, see our website www.cmgaadi.com. When you use CM Gaadi mobile and desktop applications (the App) and services offered to users (collectively
            with the Website and the App, the Services), you trust us with your personal data. We’re committed to keeping that trust. That starts with helping you understand our privacy practices. This notice describes the personal data we collect, how
            it’s used and shared, and your choices regarding this data. We recommend that you read this along with our privacy overview, which highlights key points about our privacy practices.
        </p>
        <h6> 2. Overview </h6>
        <hr>

        <p> Scope This notice describes how CM Gaadi and its affiliates collect and use personal data. This notice applies to all users of our apps, websites, features in the world, unless covered by a separate privacy notice, such as the CM Gaadi Freight
            Privacy Notice or Careem Privacy Policy. This notice specifically applies to:  Riders: individuals who request or receive transportation, including those who receive transportation requested by another individual  Drivers: individuals who
            provide transportation to Riders individually or through partner transportation companies This notice also governs CM Gaadi’s other collections of personal data in connection with CM Gaadi’s services. For example, we may collect the contact
            information of individuals who use accounts owned by CM Gaadi for Business customers or of owners. We may also collect the personal data of those who start but do not complete applications to be drivers or in connection with our mapping technology
            and features. All those subject to this notice are referred to as “users” in this notice. In addition, please note the following: Our data practices are subject to applicable laws in the places in which we operate. This means that we engage
            in the practices described in this notice in a particular country or region only if permitted under the laws of those places. Please contact us here or through the addresses below with any questions regarding our practices in a particular
            country or region.
        </p>
        <h6>3. Data controller and transfer </h6>
        <hr>

        <p>  [data Collector Company] are the data controllers for the personal data collected in connection with use of CM Gaadi’s services in the Indian Economic Area, the India . If you’re a driver in the India , the CM Gaadi entity holding the operator
            or driver license is a controller for complying with licensing requirements. [Data Collector ] is the data controller for the personal data collected in connection with use of CM Gaadi’s services anywhere else. CM Gaadi operates, and processes
            data, globally. We may also transfer data to countries other than the one where our users live or use CM Gaadi’s services. We do so in order to fulfill our agreements with users, such as our Terms of Use, or based on users’ prior consent,
            adequacy decisions for the relevant countries, or other transfer mechanisms as may be available under applicable law, such as the Standard Contractual Clauses. Questions, comments, and complaints about CM Gaadi’s data practices can be submitted
            here [Link]. You may also use this form to submit a question to CM Gaadi’s Data Protection Officer [Link].
        </p>
        <h6> 4. Data Collection & Uses </h6>
        <hr>

        <p>
            Data provided by users. This includes:  User profile: We collect data when users create or update their CM Gaadi accounts. This may include their name, email, phone number, login name and password, address, profile picture, payment or banking information
            (including related payment verification information), driver’s license and other government identification documents (which may indicate document numbers as well as birth date, gender, and photo). This also includes vehicle or insurance information
            of drivers, emergency contact information, user settings, and evidence of health or fitness to provide services using CM Gaadi apps.  This also includes gender and/or occupation (when required for certain CM Gaadi services or programs, such
            as CM Gaadi Cash or Women Rider Preferred).  We may use the photos submitted by users to verify their identities, such as through facial recognition technologies. For more information, please see the section titled “How we use personal data.”
             Background check and identity verification: We collect background check and identity verification information for drivers This may include information such as driver history or criminal record (where permitted by law), and right to work.
            This information may be collected by an authorized vendor on CM Gaadi’s behalf. We also collect identity verification from CM Gaadi Eats users who request alcohol delivery.  Demographic data: We may collect demographic data about users, including
            through user surveys. In some countries, we may also receive demographic data about users from third parties.  User content: We collect the information users submit when they contact CM Gaadi customer support, provide ratings or compliments
            for other users, or otherwise contact CM Gaadi. This may include feedback, photographs or other recordings collected by users. Data created during use of our services. This includes:  Location data (driver): CM Gaadi collects this data when
            the CM Gaadi app is running in the foreground (app open and on-screen) or background (app open but not on-screen) of their mobile device.  Location data (riders). We collect precise or approximate location data from riders’ and delivery recipients’
            mobile devices if they enable us to do so. CM Gaadi collects this data from the time a ride until it is finished, and any time the app is running in the foreground of their mobile device. We use this data to enhance your use of our apps, including
            to improve pick-up locations, enable safety features, and prevent and detect fraud.  CM Gaadi collects driver location data, and links location data collected during a trip with their rider’s account, even if the rider has not enabled us
            to collect location data from their device. This enables us to offer services to the rider like receipt generation and customer support.  Transaction information: We collect transaction information related to the use of our services, including
            the type of services requested or provided, order details, delivery information, date and time the service was provided, amount charged, distance traveled, and payment method. Additionally, if someone uses your promotion code, we may associate
            your name with that person.  Usage data: We collect data about how users interact with our services. This includes data such as access dates and times, app features or pages viewed, app crashes and other system activity, type of browser,
            and third-party sites or services used before interacting with our services. In some cases, we collect this data through cookies, pixels, tags, and similar tracking technologies that create and maintain unique identifiers. To learn more about
            these technologies, please see our Cookie Notice.  Device data: We may collect data about the devices used to access our services, including the hardware models, device IP address, operating systems and versions, software, preferred languages,
            unique device identifiers, advertising identifiers, serial numbers, device motion data, and mobile network data.  Communications data: We enable users to communicate with each other and CM Gaadi through CM Gaadi’s mobile apps and websites.
            For example, we enable drivers and riders to call, text, or send other files to each other (generally without disclosing their telephone numbers to each other). To provide this service, CM Gaadi receives some data regarding the calls, texts,
            or other communications, including the date and time of the communications and the content of the communications. CM Gaadi may also use this data for customer support services (including to resolve disputes between users), for safety and security
            purposes, to improve our products and services, and for analytics.  Rental car’s data: We collect data generated by rental Car’s, when they’re in use. This includes the date and time of use, and the location, route, and distance traveled.
            To the extent permitted by law, the location data collected from the rental car during the trip will be linked to the renter’s account, even if they have not enabled CM Gaadi to collect location data from their mobile device.  Audio recordings:
            In certain jurisdictions, and where permitted by law, users can record the audio of their trips through an in-app feature. Recordings are encrypted and stored on users’ devices, and are only shared with CM Gaadi if submitted to customer support
            by the users in connection with safety incidents. Data from other sources.  User feedback, such as ratings, feedback, or compliments.  Users participating in our referral programs. For example, when a user refers another person, we receive
            the referred person’s personal data from that user.  CM Gaadi account owners who request services for or on behalf of other users, or who enable such users to request or receive services through their accounts. This includes owners of CM
            Gaadi for Business accounts.  Users or others providing information in connection with claims or disputes.  CM Gaadi business partners through which users create or access their CM Gaadi account, such as payment providers, social media services,
            or apps or websites that use CM Gaadi’s APIs or whose APIs CM Gaadi uses.  Vendors who help us verify users’ identity, background information, and eligibility to work, for regulatory, safety, and security purposes.  Insurance, vehicle, or
            financial services providers for drivers.  Partner transportation companies (for drivers who use our services through an account associated with such a company).  Publicly available sources.  Marketing service providers. How we use Personal
            Data  To enhance the safety and security of our users and services  For customer support  For research and development  To enable communications between users  To send marketing and non-marketing communications to users  In connection
            with legal proceedings CM Gaadi uses the data it collects for purposes including: Providing services and features- CM Gaadi uses the data we collect to provide, personalize, maintain, and improve our products and services.  Create and update
            users’ accounts.  Verify drivers’ identity, background history, and eligibility to work.  Enable transportation, and other services.  Offer, process, or facilitate payments for our services.  Offer, obtain, provide, or facilitate insurance,
            vehicle, invoicing, or financing solutions in connection with our services.  Track and share the progress of rides.  Enable features that allow users to share information with other people, such as when riders submit a compliment about a
            driver, refer a friend to CM Gaadi, split fares, or share ETA and location with their contacts.  Enable features to personalize users’ CM Gaadi accounts, such as creating bookmarks for favorite places, and to enable quick access to previous
            destinations. Please see the section of this notice titled “Choice and transparency” to learn how to object to this use of personal data.  Enable Accessibility features that make it easier for users with disabilities to use our services,
            such as those that enable deaf or hard-of-hearing drivers to alert their riders of their disabilities, allow only text messages from riders, and enable receipt of flashing trip request notifications instead of sound notifications on their
            mobile device.  Perform internal operations necessary to provide our services, including to troubleshoot software bugs and operational problems; to conduct data analysis, testing, and research; and to monitor and analyze usage and activity
            trends. Safety and security. We use personal data to help maintain the safety, security, and integrity of our services and users. This includes:  Screening riders and drivers persons before enabling their use of our services and at subsequent
            intervals, including through reviews of background checks, where permitted by law, to help prevent use of our services by unsafe drivers and/or riders.  Using data from drivers’ devices to help identify unsafe driving behavior such as speeding
            or harsh braking and acceleration, and to inform them of safer driving practices. We also use data from car owner’s to verify the type of vehicles they used to provide rental service.  using information derived from driver’s license photos,
            and other photos submitted to CM Gaadi, for safety and security purposes. This includes CM Gaadi’s Real-Time ID Check feature, which prompts drivers to share a selfie before going online to help ensure that the driver using the app matches
            the CM Gaadi account we have on file. This also includes comparing photographs that we have on file against photographs (i) of other users to prevent identity-borrowing, and (ii) from public databases to verify user identity.  Using device,
            location, profile, usage, and other data to prevent, detect, and combat fraud or unsafe activities.  Using user ratings and feedback to encourage compliance with our Community Guidelines and as grounds for deactivating drivers and delivery
            persons with low ratings or who otherwise violated such guidelines in certain countries. Customer support. CM Gaadi uses the information we collect (including recordings of customer support calls with notice to and the consent of the user)
            to provide customer support, including to:  Direct questions to the appropriate customer support person  Investigate and address user concerns  Monitor and improve our customer support responses and processes Research and development. We
            may use the data we collect for testing, research, analysis, product development, and machine learning to improve the user experience. This helps us to improve and enhance the safety and security of our services, improve our ability to prevent
            the use of our services for illegal or improper purposes, develop new features and products, and facilitate insurance and finance solutions in connection with our services. Enabling communications between users. For example, a driver may message
            or call a rider to confirm a pickup location, a rider may contact a driver to retrieve a lost item. Marketing. CM Gaadi may use the data we collect to market our services to our users. This includes sending users communications about CM Gaadi
            services, features, promotions, sweepstakes, studies, surveys, news, updates, and events. We may also send communications to our users about products and services offered by CM Gaadi partners. Although we may send users communications about
            CM Gaadi partners’ products and services, we do not sell users’ personal data to, or share it with, such partners or others for purposes of their own direct marketing or advertising, except with users’ consent. We may use the data we collect
            to personalize the marketing communications (including advertisements) that we send, including based on user location, past use of CM Gaadi’s services, and user preferences and settings. Non-marketing communications. CM Gaadi may use the data
            we collect to generate and provide users with receipts; inform them of changes to our terms, services, or policies; or send other communications that aren’t for the purpose of marketing the services or products of CM Gaadi or its partners.
            Legal proceedings and requirements. We may use the personal data we collect to investigate or address claims or disputes relating to use of CM Gaadi’s services, or as otherwise allowed by applicable law, or as requested by regulators, government
            entities, and official inquiries. Automated decision-making. We use personal data to make automated decisions relating to use of our services. This includes:  Enabling dynamic pricing, in which the price of a ride for CM Gaadi orders, is
            determined based on constantly varying factors such as the estimated time and distance, the predicted route, estimated traffic, and the number of riders and drivers using CM Gaadi at a given moment.  Matching available drivers to users requesting
            services. Users can be matched based on availability, proximity, and other factors.  Determining driver and car’s rating , and deactivating drivers, riders, and cars with low ratings  Deactivating users who are identified as having engaged
            in fraud or activities that may otherwise harm CM Gaadi, its users, and others. In some cases, such as when a user is determined to be abusing CM Gaadi’s referral program, such behavior may result in automatic deactivation.  Using driver
            location information, and communications between riders and drivers, to identify cancellation fees earned or induced through fraud. For example, if we determine by using such information that a driver is delaying a rider pickup in order to
            induce a cancellation, we will not charge the rider a cancellation fee and will adjust the amounts paid to the driver to omit such a fee. To object to such adjustment, please contact CM Gaadi customer support.
        </p>
        <h6>5. Cookies and Third Party Technologies </h6>
        <hr>

        <p> Cookies are small text files that are stored on browsers or devices by websites, apps, online media, and advertisements. CM Gaadi uses cookies and similar technologies for purposes such as:  Authenticating users  Remembering user preferences
            and settings  Determining the popularity of content  Delivering and measuring the effectiveness of advertising campaigns  Analyzing site traffic and trends, and generally understanding the online behaviors and interests of people who interact
            with our services We may also allow others to provide audience measurement and analytics services for us, to serve advertisements on our behalf across the Internet, and to track and report on the performance of those advertisements. These
            entities may use cookies, web beacons, SDKs, and other technologies to identify the devices used by visitors to our websites, as well as when they visit other online sites and services.
        </p>
        <h6>6. Data Sharing and disclosure </h6>
        <hr>

        <p>
            With Other User  Riders’ first name, rating, and pickup and/or dropoff locations with drivers.  Riders’ first name with other riders in a carpool trip. Riders in carpool trips may also see the dropoff location of the other riders.  For drivers and
            Car Owner, we may share data with the rider(s), delivery recipient(s) and car owner(s), including name and photo; vehicle make, model, color, license plate, and vehicle photo; location (before and during trip); average rating provided by users;
            total number of trips; length of use of the CM Gaadi app; contact information (depending upon applicable laws); and driver or delivery person profile, including compliments and other feedback submitted by past users.  We also provide riders
            recipients with receipts containing information such as a breakdown of amounts charged, driver first name, photo, route map, and such other information required on invoices in the country or region where the driver operates.  For those who
            participate in CM Gaadi’s referral program, we share certain personal data of referred users, such as trip count, with the user who referred them, to the extent relevant to determining the referral bonus. At the user’s request  Other people
            at the user’s request. For example, we share a user’s ETA and location with a friend when requested by that user, or a user’s trip information when they split a fare with a friend.  CM Gaadi business partners. For example, if a user requests
            a service through a partnership or promotional offering made by a third party, CM Gaadi may share certain data with those third parties. This may include, for example, other services, platforms, apps, or websites that integrate with our APIs;
            vehicle suppliers or services; those with an API or service with which we integrate; With the General Public  Questions or comments from users submitted through public forums such as CM Gaadi blogs and CM Gaadi social media pages may be viewable
            by the public, including any personal data included in the questions or comments submitted by a user. The CM Gaadi Account Owner If a user requests transportation or places an order using an account owned by another party, we may share their
            order or trip information, including real-time location data, with the owner of that account. This occurs, for example, when:  A rider uses their employer’s CM Gaadi for Business profile, such as when they take trips arranged through CM Gaadi
            Central  A driver uses an account owned by or associated with an CM Gaadi partner transportation company  A rider takes a trip arranged by a friend or under a Family Profile With CM Gaadi subsidiaries and affiliates We share data with our
            subsidiaries and affiliates to help us provide our services or conduct data processing on our behalf. With CM Gaadi service providers and business partners CM Gaadi provides data to vendors, consultants, marketing partners, research firms,
            and other service providers or business partners. These include:  Payment processors and facilitators  Background check and identity verification providers (drivers and cash riders only)  Cloud storage providers  Google, in connection
            with the use of Google Maps in CM Gaadi’s apps (see Google’s privacy policy for information on their collection and use of data)  Facebook, in connection with the use of the Facebook Business Tools in CM Gaadi’s apps and websites (see Facebook’s
            privacy policy for information on their collection and use of data)  Marketing partners and marketing platform providers, including social media advertising services  Data analytics providers  Research partners, including those performing
            surveys or research projects in partnership with CM Gaadi or on CM Gaadi’s behalf  Vendors that assist CM Gaadi to enhance the safety and security of its apps  Consultants, lawyers, accountants, and other professional service providers 
            Fleet partners  Insurance and financing partners  Airports  Lime and other local providers  Vehicle solution vendors or third-party vehicle suppliers For legal reasons or in the event of a dispute CM Gaadi may share users’ personal data
            if we believe it’s required by applicable law, regulation, operating license or agreement, legal process or governmental request, or where the disclosure is otherwise appropriate due to safety or similar concerns. This includes sharing personal
            data with law enforcement officials, public health officials, other government authorities, airports (if required by the airport authorities as a condition of operating on airport property), or other third parties as necessary to enforce our
            Terms of Service, user agreements, or other policies; to protect CM Gaadi’s rights or property or the rights, safety, or property of others; or in the event of a claim or dispute relating to the use of our services. If you use another person’s
            credit card, we may be required by law to share your personal data, including trip or order information, with the owner of that credit card. This also includes sharing personal data with others in connection with, or during negotiations of,
            any merger, sale of company assets, consolidation or restructuring, financing, or acquisition of all or a portion of our business by or into another company. With consent CM Gaadi may share a user’s personal data other than as described in
            this notice if we notify the user and they consent to the sharing. 7. Data Retention and Deletion CM Gaadi retains user data for as long as necessary for the purposes described above. This means that we retain different categories of data
            for different periods of time depending on the category of user to whom the data relates, the type of data, and the purposes for which we collected the data. Users may request deletion of their account at any time through the app or website
            provided by CM Gaadi Following an account deletion request, CM Gaadi deletes the user’s account and data, unless they must be retained due to legal or regulatory requirements, for purposes of safety, security, and fraud prevention, or because
            of an issue relating to the user’s account such as an outstanding credit or an unresolved claim or dispute. Because we are subject to legal and regulatory requirements relating to drivers and delivery persons, this generally means that we
            retain their account and data for a minimum of 7 years after a deletion request. For riders and delivery recipients, their data is generally deleted within 90 days of a deletion request, except where retention is necessary for the above reasons.
        </p>
        <h6>8. Ground For Processing.</h6>
        <hr>

        <p>

            To provide requested services and features For purposes of the legitimate interests of CM Gaadi or other parties This includes using personal data to maintain and enhance our users’ safety and security. For example, we use personal data to prevent use
            of our services by users who have engaged in inappropriate or dangerous behaviour, such as by retaining data of banned users to prevent their use of CM Gaadi’s apps. We also use usage data to prevent matching of riders and drivers for whom
            there is higher risk of conflict (for instance, because they have been the subject of prior complaints from other users). This also includes purposes such as combating fraud; improving our services, direct marketing, research, and development;
            and enforcing CM Gaadi’s Terms of Service. In addition, it includes using personal data to the extent necessary for the interests of other people or the general public, such as in connection with legal or insurance claims, and to protect the
            rights and safety of others. With consent CM Gaadi may collect and use personal data based on the user’s consent. For example, we may collect personal data through voluntary surveys. Responses to such surveys are collected on the basis of
            consent and will be deleted once no longer necessary for the purposes collected. A user who has provided consent to a collection or use of their personal data can revoke it at any time. However, the user will not be able to use any service
            or feature that requires collection or use of that personal data.
        </p>
        <ul>
            <li>In order to provide our services, we must collect and use certain personal data. This includes:</li>
            <li>User profile data, which we use to establish and maintain user accounts; verify user identity; communicate with users about their trips, orders, and accounts; and enable users to make payments or receive earnings</li>
            <li>Background trip information, which is used to verify an applicant’s eligibility to be a driver.</li>
            <li>Driver and delivery person location data, which we use to track trips and assist with navigation</li>
            <li>Transaction information</li>
            <li>Information relating to customer support</li>
            <li>
                Usage data, which is necessary to maintain, optimize, and enhance CM Gaadi’s services, including to determine incentives, connect riders and drivers, and calculate costs of trips and driver earnings


            </li>

        </ul>
        <h6>9. Choice of Transparency</h6>
        <hr>

        <p> CM Gaadi enables users to access and control the data that CM Gaadi collects, including through:


        </p>
        <ul>
            <li>In-app settings</li>
            <li>Device permissions</li>
            <li>In-app ratings pages</li>
            <li>Marketing opt-outs</li>

        </ul>

        <h6>10. Updates To This Notice</h6>
        <hr>

        <p>We may occasionally update this notice. If we make significant changes, we will notify users in advance of the changes through the CM Gaadi apps or through other means, such as email and website. Your continued use of the Services after we make
            changes is deemed to be acceptance of those changes, We encourage users to periodically review this notice for the latest information on our privacy practices. After such notice, use of our services by users in countries outside the European
            Union will be understood as consent to the updates to the extent permitted by law.
        </p>
    </div>

</section>