<!-- <app-header></app-header>

<div class="row" style="margin-left: 10px;margin-bottom: 10px;"> -->
<!-- <button class="btn btn-dark" routerLink="/admin"> <i class="fa fa-arrow-left"
        aria-hidden="true"></i> Back</button> -->


<!-- <div class="col-sm-12">
        <h4 style="    text-align: center;
        font-size: 29px;">Vehicle Tracking</h4>
        <hr style="width: 60%; margin-left: auto;margin-right: auto;">
    </div>
</div>
<div class="row" style="margin-top: 0px;">
    <div class="col-sm-4" *ngFor="let result of result">
        <div class="card"> -->
<!-- <div class="row" style="margin-top: 0px;">
                <div class="col-sm-4">
             
                    <img src="./assets/img/caricon.png" alt="" style="width: 48px;">
                    <p>{{result.startingLocation}} </p>
                </div>
                <div class="col-sm-4">
                    <div class="line-top"></div>
                </div>
                <div class="col-sm-4">
        
                    <img src="./assets/img/caricon.png" alt="" style="width: 48px;margin-left: 40px;">


                    <p style="text-align: end;">{{result.destinationLocation}}</p>
                </div>
            </div>
            <div class="row" style="margin-top: 0px;">
                <div class="col-sm-12">
                    <h5>Details</h5>
                    <hr>

                </div>
                <div class="col-sm-12">
                    <p>Customer Name <em style="    float: right;">{{result.customerName}}</em></p>
                    <p>Vehicle Model <em style="    float: right;">{{result.model}}</em> </p>
                    <p>Requested Days <em style="    float: right;">{{result.requestedDays}}</em> </p>
                    <p>Requested Date <em style="    float: right;">{{result.requestedDate}}</em> </p>
                    <p>Requested End Date <em style="    float: right;">{{result.requestEndDate}}</em> </p>

                    <p>Starting Km <em style="    float: right;">{{result.startingKM}}</em> </p>
                    <p>Ending KM <em style="    float: right;">{{result.endingKM}}</em> </p>
                    <p>Travelled KM <em style="    float: right;">{{result.customerTravelledKM}}</em> </p>
                    <p>Amount <em style="    float: right;">{{result.amount}}</em> </p>
                    <p *ngIf="result.driverRequired == false">Driver is Required <em style="    float: right;">No</em> </p>
                    <p *ngIf="result.driverRequired == true">Driver is Required <em style="    float: right;">Yes</em> </p>

                </div>
             
            </div> -->
<!-- <div class="card shadow mb-4">

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead style=" color: #fff; background: #3158c8; ">
                                <tr>
                                    <th>Starting Location</th>
                                    <th>Destination Location</th>
                                    <th>Customer Name</th>
                                    <th>Vehicle Model</th>
                                    <th>Requested Days</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let result of result">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
 -->



<div id="wrapper">

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-header></app-header>
            <!-- End of Topbar -->
            <!-- <app-adminhome></app-adminhome> -->
            <!-- Begin Page Content -->
            <div class="container-fluid" style="margin-left: 223px;
            margin-top: 99px;
            padding-right: 240px;  ">
                <!-- Page Heading -->
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-sm-6">
                        <h1 class="h3 mb-2 text-gray-800">Vehicle Tracking</h1>

                    </div>
                    <div class="col-sm-6">
                        <!-- <a class="btn btn btn-primary btn-rounded float-right " style="color: white;background: #496fdb;" routerLink="/add-location"><i class="fa fa-plus"></i> Add Locality </a> -->
                    </div>
                </div>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="dataTable" width="100%" cellspacing="0">
                                <thead style=" color: #fff; background: #3158c8; ">
                                    <tr>
                                        <th>Starting Location</th>
                                        <th>Destination Location</th>
                                        <th>Customer Name</th>
                                        <th>Vehicle Model</th>
                                        <th>Requested Days</th>
                                        <th>Requested Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let result of result">
                                        <td>{{result.startingLocation}}</td>
                                        <td>{{result.destinationLocation}}</td>
                                        <td>{{result.customerName}}</td>
                                        <td>{{result.model}}</td>
                                        <td>{{result.requestedDays}}</td>
                                        <td>{{result.requestedDate}}</td>
                                        <td><button class="btn btn-primary" (click)="trackview(result)" style="    background: #3158c8;"> <i class="fa fa-eye"></i> View</button></td>
                                    </tr>

                                </tbody>
                            </table>
                            <button (click)="loadMore()" style="    width: 100%;
                            border: none;
                            margin-bottom: 19px;
                            padding: 10px;
                            border-radius: 8px;
                            color: #686363;" *ngIf="result.length != 0">Load More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>