<!-- <header id="header-area" class="fixed-top">

    <div id="header-bottom" style="background-color: rgb(0 0 0);">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a routerLink="/Home" class="logo">
                        <img src="assets/img/logoos.png" style="
                        height: 64px;" alt="JSOFT " *ngIf="!isloggedIn">
                        <h6 *ngIf="isloggedIn" style="    color: white;
                        font-weight: bold;
                        padding-top: 16px;">Cmgaadi.com</h6>
                    </a>
                </div>

                <div class="col-lg-8 d-none d-xl-block">
                    <nav class="mainmenu alignright">
                        <ul>
                            <li *ngIf="!isloggedIn" routerLinkActive="active">
                                <a routerLink="/userhome">Home</a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="/aboutus" style="color: white;">About US</a>
                            </li>
                            <li *ngIf="isloggedIn" routerLinkActive="active">
                                <a routerLink="/admin">Home</a>
                            </li>
                            <li *ngIf="!isloggedIn" routerLinkActive="active">
                                <a routerLink="/login">Login</a>
                            </li>
                            <li *ngIf="!isloggedIn" routerLinkActive="active">
                                <a routerLink="/register">Register</a>
                            </li>
                            <li *ngIf="isloggedIn" (click)="logout()">
                                <a style="cursor: pointer;">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header> -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="background-color: #00060f !important;">
    <a class="navbar-brand" href="#">
        <!-- <img src="./assets/img/logonew.png" alt="" style="width: 101px;"> -->
        <!-- <h6>CMGAADI</h6> -->
        <img src="./assets/img/logoos.png" alt="" style="width: 61px;" routerLink="/admin">
        <h6 style="    padding-left: 6px;
        float: right;
        margin-top: 23px;
        color: #ffcb67;
        font-weight: bold;
    ">CMGAADI</h6>
    </a>
    <button style="background: #ffcb56;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/userhome" style="color: white;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/aboutus" style="color: white;">About Us</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/features" style="color: white;">Features</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/services" style="color: white;">Services</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/contactus" style="color: white;">Contact Us</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/login" style="color: white;">Login</a>
            </li>


            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/userregister" style="color: white;">Register</a>
            </li>

        </ul>

    </div>
</nav>