<app-navigation></app-navigation>

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    CANCELLATION AND REFUND POLICY
                </h1>
                <!-- <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="about.html"> About Us</a></p> -->
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container" style="margin-top: 20px;">

        <h6>CANCELLATION</h6>
        <hr>
        <p>You can cancel a trip at any time through the Cmgaadi app, but may be charged a cancellation fee if you cancel after you're matched with your driver. These fees pay driver-partners for the time and effort they spend getting to your location.</p>
        <p>If you believe you were charged a cancellation fee in error, let us know the reason and you can feel free to contact us through help & support desk.</p>
        <h6>REFUND</h6>
        <hr>
        <p>
            Your cancellation fee will be refunded to your original payment method if you are eligible for a refund when we checking with the reasons. Refunds may take up to 5 business days to process depending on your bank.
        </p>
    </div>
</section>