<!-- <app-navigation></app-navigation> -->
<!-- <app-header></app-header> -->
<!-- <div class="page-wrapper" style="margin-top: 101px;">
    <div class="row">

        <div class="col-sm-4">
            <button routerLink="/admin" class=" btn btn-dark" style="float: Left;"><i class="fa fa-arrow-left"
                aria-hidden="true"></i> Back</button>

        </div>
        <div class="col-sm-4">
            <h4 style="text-align: center;">Vehicle <em style="font-style: normal;
                color: #ffb100;">Management</em> </h4>
        </div>
        <div class="col-sm-4">
            <button routerLink="/add-cars" class=" btn btn-success" style="float: right;"><i class="fa fa-plus"
                aria-hidden="true"></i> Add New Cars</button>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-9">

        </div>
        <div class="col-sm-3">
            <select [(ngModel)]="vstatus" (change)="changeFilter(vstatus)" class="form-control" style="margin-top: 15px;">
                <option value="" selected disabled>Filter Options</option>
                <option value="1">Approved</option>
                <option value="3">Rejected</option>
                <option value="2">Pending</option>

            </select>
        </div>

    </div>
    <div class="row " style="margin-top: 11px;">
        <div class="col-lg-3 col-md-6 con suv mpv" *ngFor="let car of carList">
            <div class="single-popular-car">
                <div class="p-car-thumbnails">
                    <img src="{{apUrl}}vehicle/getImage1/{{car.id}}" alt="JSOFT" class="vehImg">
                </div>

                <div class="p-car-content">
                    <h3>
                        <a>{{car.companyName}}</a>
                        <span class="price"><i class="fa fa-tag"></i> {{car.rentPerDay}}</span>
                    </h3>
                    <h5 style="float: right;">Model : {{car.model}}</h5>

                    <h5>{{car.numberPlate}}</h5>

                    <h5 style="    float: right;
                        margin-top: -1px;">{{car.type}}</h5>

                    <h5>{{car.year}}</h5>
                    <h5><i class="fa fa-map-marker"></i> {{car.locationName}}</h5>

               



                </div>
                <div class="p-car-content" style="    padding: 0px 20px 19px;">
                    <button style="margin: 2px;" (click)="view(car)" class="btn btn-dark"><i class="fa fa-eye"></i>
                        View</button>
                    <button style="margin: 2px;" (click)="edit(car)" class="btn btn-danger"><i class="fa fa-pencil"></i>
                        Edit</button>
                    <button style="margin: 2px;" (click)="delete(car)" class="btn btn-warning"><i
                            class="fa fa-trash"></i> Delete</button>

                </div>

            </div>
        </div>




    </div>
    <div class="row" *ngIf="errormessage == 'No data found'">
        <img src="./assets/img/nodata.png" alt="" style="    margin: auto;
        display: block;     width: 36%;   filter: brightness(0.5);">
    </div>
    <h5 *ngIf="errormessage == 'No data found'" style="text-align: center;">No Vehicles Found</h5>
</div> -->


<div id="wrapper">

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-header></app-header>
            <!-- End of Topbar -->
            <!-- <app-adminhome></app-adminhome> -->
            <!-- Begin Page Content -->
            <div class="container-fluid" style="margin-left: 223px;
            margin-top: 99px;
            padding-right: 240px;  ">
                <!-- Page Heading -->
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-sm-6">
                        <h1 class="h3 mb-2 text-gray-800">Vehicle Management</h1>

                    </div>
                    <div class="col-sm-6">
                        <button routerLink="/add-cars" style="float: right;    background: #3158c8;" class=" btn btn-success"><i
                                class="fa fa-plus" aria-hidden="true"></i> Add New Cars</button>
                        <select [(ngModel)]="vstatus" (change)="changeFilter(vstatus)" class="form-control" style="margin-top: 49px;">
                                        <option value="" selected disabled>Filter Options</option>
                                        <option value="1">Approved</option>
                                        <option value="3">Rejected</option>
                                        <option value="2">Pending</option>
                        
                                    </select>
                    </div>
                </div>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="dataTable" width="100%" cellspacing="0">
                                <thead style=" color: #fff; background: #3158c8; ">
                                    <tr>
                                        <th>Vehicle </th>
                                        <th>Locality</th>
                                        <th>Image</th>
                                        <th>Registration Number</th>
                                        <th>Status</th>

                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let car of carList">
                                        <!-- <th>{{apUrl}}vehicle/getImage1/{{car.id}}</th> -->
                                        <th>{{car.companyName}}</th>
                                        <th>{{car.locationName}}</th>
                                        <th>
                                            <img src="{{apUrl}}vehicle/getImage1/{{car.id}}" alt="" style="    width: 100px;
                                            ">
                                        </th>
                                        <th>{{car.numberPlate}}</th>
                                        <th *ngIf="car.approvalStatus == '1'">Approved</th>
                                        <th *ngIf="car.approvalStatus == '2'">Pending</th>
                                        <th *ngIf="car.approvalStatus == '3'">Rejected</th>


                                        <th> <button style="margin: 2px;" (click)="view(car)" class="btn btn-dark"><i class="fa fa-eye"></i>
                                            View</button>
                                            <button style="margin: 2px;" (click)="edit(car)" class="btn btn-danger"><i class="fa fa-pencil"></i>
                                            Edit</button>
                                            <button style="margin: 2px;" (click)="delete(car)" class="btn btn-warning"><i
                                                class="fa fa-trash"></i> Delete</button></th>
                                    </tr>


                                </tbody>
                            </table>
                            <button (click)="loadMore()" style="    width: 100%;
                            border: none;
                            margin-bottom: 19px;
                            padding: 10px;
                            border-radius: 8px;
                            color: #686363;" *ngIf="carList.length != 0">Load More</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>