<app-navigation></app-navigation>

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Terms & Conditions
                </h1>
                <!-- <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="about.html"> About Us</a></p> -->
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container" style="margin-top: 20px;">

        <h6> Forbidden Uses: vehicles may not be used for the following:</h6>
        <hr>
        <p>Transporting goods/people in violation of local laws or excise & customs rules.</p>
        <p>For sports, adventure, races rally and other competitive events.</p>
        <p>For over speeding violations over 125 Km/hr, there will be a fine of ₹2500. Vehicle speed is tracked and monitored remotely through an in-car device to ensure the safety of all CM Gaadi members.</p>
        <h6>For Self-Driving Cars</h6>
        <hr>
        <p>CM Gaadi member can choose two type of renting service. </p>
        <p>1.Self-Driving car by the usage of a kilometer, Daily rent is applicable if the usage exceeds 24 hours. </p>
        <p>2.Self-Driving car with Daily rent by kilometer limit, the additional charge is applicable if the daily limit exceeds.
        </p>
        <p>Proper Registration should be made on CM Gaadi for car owner approval, An approval process may take a maximum of 48 hours.</p>
        <p>Once the owner approved the trip, The CM Gaadi member should pick up the car from the desired location specified by the owner.</p>
        <p>If the CM Gaadi member, cancel’s the trip after the Owner’s approval Rs.75 will be charged towards the CM Gaadi member</p>

        <p> CM Gaadi members should bring the original driving license followed by an Aadhar card for identity reference. Once the verification process was done the owner and CM Gaadi member mutually verified the starting kilometer reading from the car's
            Odometer. </p>
        <p>
            Customer should verify the fuel level in the fuel gauge with the owner and it’s the customer's responsibility to return the car with the same fuel noted at the time of pickup
        </p>
        <p>Trip charges are calculated only at the time returning a car, and a trip kilometer is calculated by starting kilometer and ending kilometer from car’s odometer. </p>
        <p>The rider should drive or utilize the car at the desired location as specified during the time of registration, Incase the customer violates the city limit or state limit or change in drop location. Then the owner will claim the legal case against
            the rider for policy violation. </p>



        <p>Your liability in the event of theft or accident to the vehicle is restricted to a maximum amount equal to ₹10,000/-. Car insurance handles the remainder. This is provided you adhere to all of CM Gaadi's standard rules and regulations as described</p>
        <p>Requesting customers to mark damages, if any, in the car at the time of taking it as well as returning it to the owner</p>

        <p>Incase of breakdown during the time of ride, customer can contact for customer support</p>

        <p>Customer is responsible for any minor scratches, minor damages, self-damages, interior damages, change in any vehicle parts, damage due to rash driving, damage due to rough usage. And those damages are chargeable by the owner or the owner will
            charge the cost for the damaged part with the labour cost for changing the damaged part</p>

        <p>Customers are not permitted to do any changes on the engine part or electronic part. But customers can customize the driver components such as music system, Steering system, seat hight, light focus area, and other user-accessible equipment.</p>



        <p>CM Gaadi or Owner is not responsible for missing any personal belongings of the customer during or after the drop off of the car. </p>
        <p>In case of puncture or tire replacement due to rough driving or driving off-road, the customer needs to pay for the puncture and tire repairing or replacement. It is advised to the customer not to pick up the car if there is any tire-related issue
            or report the issue properly during at the time of car pickup. </p>

        <p>Customer should fuel the car very carefully recommend by the car company such as diesel or petrol or LPG. Any miss fuel to the car will leads to severe damage to the engine and customer should pay the entire service cost along with penalty and
            daily rent of the car.</p>

        <p>Customer can demand a driver in case they need a full-time driver for their trip, and separate charges will be applicable for the driver. Still, all the terms and conditions will be applicable to customers if they bring a driver into action. </p>


        <h6>For Owners </h6>
        <hr>

        <p>Owner can register the vehicle using CM Gaadi App, along with vehicle details such as vehicle make, model, year, fuel type, seating capacity, color, average mileage, wheel type, details of the modification. Owners need to submit the vehicle Registration
            copy, Insurance Copy, pollution Certificate, Owner’s ID proof, Pickup location details</p>


        <p>Owners need to specify the desired pickup location, or the owner can utilize the CM Gaadi yard as pickup and drop-off location. The owner should specify either the car is applicable for multicity, interstate driving, and multicity drop-off. </p>


        <p>The CM Gaadi technician will visit the location and examines the vehicle for CM Gaadi specification. Once the evaluation was done CM Gaadi will create the customized tariff for your vehicle. The entire process may take up to 5-7 days. </p>
        <p>Owner need to pay the registration fee of rupees 1000 for the evaluation process and technician charges if applicable</p>
        <p>Owner is responsible for any accident during at the time of ride, hence owner needs to choose the right insurance for their car. </p>

        <p>Owner needs to update the kilometer reading, damages, fuel gauge, Tire condition, interior and exterior of the car with pictures. </p>



        <p>Owner should share the GPS signal of the vehicle with CM Gaadi, If the vehicle does not have the GPS signaling Device then CM Gaadi will install the GPS device on the vehicle to identify the the exact location of the vehicle. Charges may be applicable
            if CM Gaadi installs the GPS.</p>

        <p>Owners shall have direct contact with the CM Gaadi customer in case of any issues, Such as puncture, Accident, City violation, State violation, Over speeding or in case of any illegal activities. </p>

        <p>Owner is responsible for any accident, car theft, or car utilized for any illegal activities. It’s the owners' responsibility to keep Insurance, Pollution Certificate, Road tax, Permit, and FC on up to date. CM Gaadi is not responsible if an issue
            raised due to the expiry of legal documents. It is advised to owners that their vehicle should have full insurance with the proper valuation for safety. </p>








    </div>
</section>

<app-footer></app-footer>