<div id="wrapper">

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-header></app-header>
            <!-- End of Topbar -->
            <!-- <app-adminhome></app-adminhome> -->
            <!-- Begin Page Content -->
            <div class="container-fluid" style="margin-left: 223px;
            margin-top: 99px;
            padding-right: 240px;  ">
                <!-- Page Heading -->
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-sm-6">
                        <h1 class="h3 mb-2 text-gray-800">Bank Details</h1>

                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="dataTable" width="100%" cellspacing="0">
                                <thead style=" color: #fff; background: #3158c8; ">
                                    <tr>
                                        <th>Bank Name</th>
                                        <th>Account Number </th>
                                        <th>IFSC Code</th>
                                        <th>Branch </th>


                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let b of results">
                                        <td>{{b.name}}</td>
                                        <td>{{b.name}}</td>
                                        <td>{{b.name}}</td>
                                        <td>{{b.name}}</td>


                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>